/* This is external css stylesheet for hoiio-standard email template.
This stylesheet is only for development purpose.
For production, copy all the styles here into the <HEAD> of the html template.
*/

* {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

body {
    margin:0;
    padding: 0;
    min-width: 100% !important;
}

body, table[class="body"] {
    background: #e8e8e8;
    font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif !important;
    font-size: 14px;   
    color: #595959;
    -webkit-text-size-adjust: 100%;
}

img {height: auto;}

a img {border: none;}

.wrapper{
    width: 94%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    padding: 24px 48px 24px 48px;
}

td, p, h1, h2, h3, h4, span {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
    color: #595959;
}

.footer span{
    color: #999999;
}

td[class="content"] {
    font-size: 14px;
    line-height: 1.7143;
}

.preheader, .preheader a, .footer{
    color: #999999 !important;
    font-size: 11px;
}

.preheader {
    padding: 24px 12px 24px 12px;
}

.header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -0.03em;
    /*padding-top: 12px;
    padding-bottom: 24px;*/
}

p {
    font-size: 14px;
    color: #595959;
    line-height: 1.7143;
    margin-bottom: 24px;
    margin-top: 0;
}



.footer {
    border-top: 1px solid #e8e8e8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}



h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-top: 6px;
    margin-bottom: 18px;
}

.button {
    display: inline-block;
    background-color: #0190de;
    line-height: 44px;
    width: 200px;
    margin-bottom: 12px;
    border-radius: 3px;
    box-shadow: 0 -2px 0 rgba(0,0,0,0.15) inset;
    color: #FFFFFF !important;
    text-decoration: none !important;
}

.button:hover, .button:focus {
    box-shadow: none;
    background: #0174b2;
}

.button:active {
    background: #01669d;
    box-shadow: 0 2px 0 rgba(0,0,0,0.15) inset;
}

@media only screen and (min-width: 601px) {
    body[yahoo] .wrapper{
        /*Fix for apple-mail not supporting Max-width*/
        width: 600px !important;
    }
}
    
@media only screen and (max-width: 600px) {
    body[yahoo] .content{
        padding: 12px 16px 12px 16px;
    }
    
    body[yahoo] .button{
        display: block;
    }
    
    body[yahoo] .unsubscribe{
        display: block;
        background: #e4e5ea;
        color: #666666;
        font-size: 14px;
        text-decoration: none;
        padding: 11px 24px;
        border-radius: 3px;
    }
}

br {
    line-height: 10px;
    height: 10px;
}
